body {
    text-align: center ;
    align-items: center;
}
.red {
    color: red;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
p {
    font-size: 50px;
}
img {
    height: 200px;
    width: 200px;
}
h1{
    font-size: 150px;
    color: aqua;
}